*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
.logo {
    width: 100px;       
    height: auto;       
    display: block;   
    margin: 20px;     
    padding: 14px;      
    border-radius: 8px; 
}

li{
    list-style: none;
}
h1,
h2{
    color: #444;
}
h3{
    color: #999;
}
.btn{
    background: #E8F0F7;
    color: black;
    padding: 5px 10px;
    text-align: center;
}
.btn:hover{
    color: black;
    background: white;
    padding: 3px 8px;
    border: 2px solid #E8F0F7;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table{
    padding: 10px;
}
th,td{
    text-align: left;
    padding: 8px;
}
.side-menu{
    position: fixed;
    background: #E8F0F7;
    width: 19vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 20px;
    padding: 10px 40px;
    color: black;
    margin: 5%;
    display: flex;
    align-items: center;
}
.side-menu li:hover{
    background: white;
    color: lightblue;
}
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
}

.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .search button img{
    width: 30px;
    height: 30px;
}
.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header .nav .user img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}
.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card{
    width: 250px;
    height: 100px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
.container .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container .content .content-2 .report-lost{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .new-cats{
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .new-cats td:nth-child(1) img{ 
    height: 30px;
    width: 30px;
}
@media screen and (max-witdh: 1050px) {
    .side-menu li{
        font-size: 18px;
    }
}
@media screen and (max-witdh: 940px) {
    .side-menu li span{
        display: none;
    }
    .side-menu{
        align-items: center;
    }
}
@media screen and (max-witdh: 536px){
    .container .content .cards{
        justify-content: center;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 5px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    min-height: 100vh;
    background: #E8F0F7;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align: center; 
    justify-content: center;
    padding-top: 20px; 
    font-family: Arial, sans-serif; 
    font-size: 24px; 
    color: #333; 
}
.logo {
    display: block;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    padding: 10px; 
}
.logo img {
    max-width: 100%; 
    height: auto;
}
.container{
    display: flex;
    justify-content: center;
    margin: 50px;
    
    width: 500px;
    max-width: 90%;
}
.container form{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
}
.container form h1{
    text-align: center;
    margin-bottom: 10px;
    color: #222;
}
.container form .form-control{
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin:  10px 0 18px 0;
    padding: 0 10px;
}
.container form .btn{
    margin-left: 35%;
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: #27a327;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    transition: 3s;
}
.container form .btn:hover{
    opacity: .7;
}